<!DOCTYPE html>
<html>
<head>
    <title>{{pageTitle}}</title>
</head>
<body>
    <header>
        <h1>{{pageTitle}}</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/realtimeproducts">Ver Productos en Tiempo Real</a></li>
        </ul>
    </nav>
    <div class="content">
        {{{body}}}
    </div>
    <footer>
    </footer>
</body>
</html>